/* design.css */

body { background: #000; color: #fff; font-size: 12pt; font-family: 'Lato', Arial, sans-serif; }
.skew { position: relative; -webkit-transform: skewY(-5deg); -moz-transform: skewY(-5deg); -ms-transform: skewY(-5deg); transform: skewY(-5deg); height: 250px; top: -100px; padding-top: 50px; }
.unskew { -webkit-transform: skewY(5deg); -moz-transform: skewY(5deg); -ms-transform: skewY(5deg); transform: skewY(5deg); min-height: 120%; max-height: 160%; }

/* sections */
#heading { height: 300px; }
#heading .unskew { background: url('../img/heading.png') #113; background-size: contain; }
#heading .logo-container { position: relative; top: 75px; }
#heading .logo { background: url('../img/logo.png') no-repeat center; background-size: contain; width: 522px; height: 102px; margin: 0 auto; }
#heading .date { font-family: 'Lato'; font-size: 300%; font-weight: 100; position: relative; top: 20px; text-align: center; }

#overview { background: #000; border-left: 1px solid #333; border-right: 1px solid #333; }
#overview p { text-align: justify; }

#schedule { background: #9d0075; padding-left: 5%; padding-right: 5%; height: 300px; }
#schedule .heading { font-size: 200%; color: #fff; }
#schedule p { padding: 2px; }
#schedule b { color: #000; }
#schedule aside { max-width: 31%; width: auto; float: left; padding: 1%; }

#registration { background: #076c7f; height: 230px; }
#registration p:first-of-type { text-align: center; }
.eventbrite { width: 300px; }

#sponsors { background: #638603; height: 100px; }

#footing { height: 30px; padding: 25px; text-align: right; }

/* global styles */
#container { max-width: 960px; margin: 0 auto; }
.section-header { font-size: 200%; position: absolute; top: 5px; right: 5%; background: #000; padding: 10px; }
p { padding: 10px; line-height: 1.3em; }
em, i { font-style: italic; }
b { font-weight: 700; }
a { color: #ccc; text-decoration: none; }
a:hover { text-decoration: underline; }
.para p { padding: 10px 5%; }

@media screen and (max-width: 640px) {

  #heading .logo { width: 80%; max-height: 102px; height: auto; min-height: 80px; }
  #heading { height: 250px; }
  #heading .date { font-size: 200%; }

  #overview { height: 430px; }

  #schedule aside { max-width: 100% !important; }
  #schedule { height: 630px; }

  #registration { height: 160px; }

  #sponsors { height: 130px; }

  #footing { padding: 5%; }
}
